@use "../../utils/placeholders";
@use "../../utils/variables" as var;
@use "../../utils/functions" as fn;
@use "../../utils/mixins" as mx;

.co-workers {
  grid-area: co-workers;

  @include mx.mq("xl") {
    padding: 20px;
    background-color: fn.get-color("dark-tertiary");
    border-radius: 12px;
  }
}

.co-workers-wrapper {
  max-height: 388px;
  padding: 16px;
  margin-bottom: 40px;

  border-radius: 12px;
  background-color: fn.get-color("dark-tertiary");

  @include mx.mq("xl") {
    max-height: 400px;
    padding: 24px;
    margin-bottom: 32px;
    background-color: fn.get-color("dark-secondary");
  }
}

.co-workers-title {
  // Розширюємо стилі з placeholder селектора %details
  @extend %details;

  // Відступ знизу
  margin-bottom: 28px;

  // Медіа-запит для екранів шириною 'x1'
  @include mx.mq("xl") {
    margin-bottom: 36px; // Збільшуємо відступ на більших екранах
  }

  // Стилі для span всередині заголовка
  span {
    // Розширюємо стилі з placeholder селектора %accent-text
    @extend %accent-text;
  }
}

.co-workers-container {
  // Включаємо міксин для кастомного стилю смуги прокрутки
  @include mx.scroll-bar;

  // Встановлюємо максимальну висоту контейнера
  max-height: 296px;

  // Дозволяємо вертикальну прокрутку при перевищенні вмісту
  overflow-y: auto;

  // Медіа-запит для великих екранів (lg)
  @include mx.mq("lg") {
    // Компенсуємо відступ для вирівнювання або приховування смуги прокрутки
    margin-right: -14px;
  }
}

.co-workers-data {
}
.co-workers-icon {
}
.plus {
}
.minus {
}
.co-workers-bio {
}
.thumb {
}
.co-workers-caption {
}
.co-workers-controls {
}
.controls-btn {
}
.controls-btn-icon {
}
.success {
}
.error {
}
.co-workers-info {
}
.co-workers-position {
}
.co-workers-accept {
}

.visually-hidden {
}

.person {
}
.person-thumb {
}
.person-avatar {
}
.person-caption {
}

.badge {
}
.warning {
}
.hide {
}
.co-workers-btn {
  display: block;
  margin: 0 auto;
}
